<div class="table">
  <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search...">
    <table>
        <thead>
          <tr>
            <th>Club Logo</th>
            <th>Club Name</th>
            <th>Club Id</th>
            <!-- Add more table headers as needed -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableList">
            <td>
                <img src={{row.club_logo}} />
            </td>
            <td>{{row.club_name}}</td>
            <td>{{row.club_id}}</td>
          </tr>
        </tbody>
        <tbody>
            <tr>
                <td><button [disabled]="currentPage === 1" (click)="returnFirstPage()">First</button></td>
                <td><button [disabled]="currentPage === 1" (click)="prevPage()">Previous</button></td>
                <td><span>{{ currentPage }} / {{ totalPages }}</span></td>
                <td><button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button></td>
                <td><button [disabled]="currentPage === totalPages" (click)="returnLastPage()">Last</button></td>
            </tr>
        </tbody>
    </table>  
      
</div>