.table {
    width: 100%;
    height: auto;
    margin: 1%;
}
img {
    width: auto;
    height: 100%;
}
thead {
    width: fit-content;
    height: fit-content;
}
tbody {
    width: fit-content;
    height: fit-content;
}
tr {
    width: fit-content;
    height: fit-content;
}
th {
    width: fit-content;
    height: fit-content;
    text-align: left;
}
td {
    width: fit-content;
    height: fit-content;
}
button{
    width: 100%;
    height: fit-content;
}