.flip-card-back h1{
   font-size: 100%;
   width: fit-content; 
   background-color: transparent;
}
.flip-card-back img{
    width: auto;
    background-color: transparent;
    height: 50%;
}
.flip-card-back p {
    font-size: 50%;
    width: fit-content;
    background-color: transparent;
    margin-bottom: 1%;
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid ;
    perspective: 1000px; 
  }
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
.flip-card-front {
    background-color: white;
    color: black;    
  }
.flip-card-front h1{
    font-size: 100%;

}
.flip-card-front img{
    margin-bottom:1%;
    width: auto;
    height: auto;
}
.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }