.container {
    width: 100%;
    height: fit-content;
    margin-top: 3%;
    align-items: center;
}
.table-condensed {
    width: 100%;
    height: fit-content;
}
img {
    width: auto;
    height: fit-content;
}
thead {
    width: fit-content;
    height: fit-content;
}
tbody {
    width: fit-content;
    height: 539.13px;
}
tr {
    width: fit-content;
    height: fit-content;
}
th {
    width: 33%;
    height: fit-content;
    text-align: left;
}
td {
    width: fit-content;
    height: fit-content;
    align-content: center;
}
button{
    width: fit-content;
    height: fit-content;
}

input {
    width: 50%;
    height: fit-content;
}
.last {
    height: fit-content;
}